
@import './colors';
@import './_header.scss';
@import './rental-home';
@import './rentalDetails';
@import './forms';

html, body {
  height: 100%;
}

body {
  background-color: #bd9f9f;
  color: #202020;
}

.bwm-container {
  padding-top: 70px;
}

.type- {

  &condo {
    color: #a72da3;
  }

  &apartment {
    color: #bf1818;
  }
  &house {
    color: #d68000;
  }
}

.navbar-dark {
  .navbar-nav {
    .nav-link {
      &:focus,
      &:hover:not(.active) {
        color: #26cdfb;
      }
    }
  }
}

.btn {
  &.btn-bwm-main {
    border-color: #61dafb;
    color: $main-app-color;

    &:hover,
    &:focus,
    &:active {
      background-color: #2bc8f3;
      border-color: $main-app-color;
      color: whitesmoke;
      box-shadow: none;
    }
  }
}

.rental-link {
  color: inherit;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}
